/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
	margin:0;
	padding:0;
}

/* HTML ELEMENTS */
body {
	background-color:#1b2940;
	font:62.5% Georgia,'Times New Roman',serif;
	letter-spacing:1;
}

/* COMMON CLASSES */
.break {
	clear:both;
}

/* HEADER */
#header {
	height:600px;
}

.headerimg {
	background-position: top center;
	background-repeat: no-repeat;
	width:100%;
	height:1535px;
	position:absolute;
}

/* NAVIGATION */
#nav-outer {
	height:110px;
	padding-top:11px;
	position:relative;
	top:24px;
	background-image:url("../images/headerbg.png");
}

#navigation {
	height:100px;
	width:960px;
	margin:0 auto;
	background-image:url("../images/logo.png");
	background-position:top left;
	background-repeat:no-repeat;
}

/* SEARCH */
#search {
	background-color:#051733;
	float:right;
	width:220px;
	padding:10px;
}

#searchtxt {
	padding:3px;
	width:150px;
}

#searchbtn {
	border:1px solid #eee !important;
	background-color:#CD2B3A;
	color:#eee;
	padding:3px;
	margin-left:5px;
}

/* MENU */
#menu {
	position:relative;
	top:85px;
}

#menu ul {
	list-style:none;
}

#menu ul li {
	display:inline;
	font-variant:small-caps;
	font-size:12px;
}

#menu ul li a {
	color:white;
	text-decoration:none;
	font-weight:bold;
	padding-right:20px;
}

#menu ul li a:hover {
	text-decoration:underline;
}

/* HEADER TEXT */
#headertxt {
	width:950px;
	margin:0 auto;
	overflow: hidden;
	padding-top: 30px;
	position:relative;
}

#firstline {
	background-image:url("../images/textbg.png");
	color:#333;
	font-size:40px;
	padding:4px 13px 7px;
	float:left;
	display:block;
}

#secondline {
	background-image:url("../images/textbg.png");
	color:#CD2B3A;
	text-decoration:none;
	font-size:60px;
	padding:0 13px 10px;
	float:left;
	display:block;
	clear:both;
}

#secondline:hover {
	text-decoration:underline;
	color:#7F000C;
}

.pictured {
	background-color:#CC3333;
	color:#FFF;
	font-size:12px;
	padding:9px 16px;
	text-transform:uppercase;
	float:left;
	display:block;
	clear:both;
	margin-top:10px;
}

.pictured a {
	font-size:16px;
	font-style:italic;
	letter-spacing:0;
	text-transform:none;
	color:#FFF;
	text-decoration:none;
}

.pictured a:hover {
	text-decoration:underline;
}

/* CONTROLS */
.btn {
	height:50px;
	width:26px;
	float:left;
	cursor:pointer;
}

#back {
	background:url("../images/sprite.png") no-repeat -6px -448px;
	margin-right: 5px;
}

#next {
	background:url("../images/sprite.png") no-repeat -6px -512px;
}

#control {
	background-image:url("../images/btn_pause.png");
}

/* HEADER HAVIGATION */
#headernav-outer {
  float: left;
  margin-top: -90px;
  padding-bottom: 72px;
  width: 385px;
  position: relative;
  z-index: 10;
}

/* CONTENT */
#content {
	color:#575757;
	background-color:#eee;
}

#content p {
	padding:10px 20px;
	font-size:16px;
	width:960px;
	margin:0 auto;
}

#content p a {
	text-decoration:none;
	color:#CD2B3A;
}

#content p a:hover {
	text-decoration:underline; color:#7F000C;
}

.text_link_desc{
  width: 385px;
	float: left;
	margin-top: 28px;
}

#headertxt .titletext h2{
	float: left;
  font-weight: normal;
  font-size: 4.8em;
  color: #fff;
  margin: 0;
  -webkit-text-shadow: 0px 0px 4px rgba(50, 50, 50, 0.5);
	-moz-text-shadow:    0px 0px 4px rgba(50, 50, 50, 0.5);
	text-shadow:         0px 0px 4px rgba(50, 50, 50, 0.5);
}

#headertxt .prod_img{
	width: 565px;
	float: left;
  height: 373px;
}

#headertxt .imagelink{
	float: left;
  font-weight: normal;
  font-size: 2.4em;
  margin-top: 20px;
}

#headertxt .imagelink a{
	color: #fff;
	background: url("../images/sprite.png") no-repeat right -569px;
	display: block;
	padding-right: 20px;
	-webkit-text-shadow: 0px 0px 4px rgba(50, 50, 50, 0.5);
	-moz-text-shadow:    0px 0px 4px rgba(50, 50, 50, 0.5);
	text-shadow:         0px 0px 4px rgba(50, 50, 50, 0.5);
}

#headertxt .imagelink a:hover{
	text-decoration: none;
	color: #ed1c24;
	background: url("../images/sprite.png") no-repeat right -601px;
}

#next:hover {
    background:url("../images/sprite.png") no-repeat -70px -512px;
}
#back:hover {
  background:url("../images/sprite.png") no-repeat -70px -448px;
  margin-right: 5px;
}

/*hide home page  mobile carousel on desktop site */
.responsive-carousel{
	display:none;
}